<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.woniu.dao.userDao">
	<insert id="save">
		insert into user values(#{userId},#{userName},#{userPwd})
	</insert>
	<delete id="delete">
		delete from dept where userId=#{userId}
	</delete>
	<delete id="update">
		update user set userName=#{userName},userPwd=#{userPwd} where userId=#{userId} 
	</delete>
	<select id="findAll" resultType="com.woniu.pojo.User">
		select * from user
	</select>
	<select id="findOne" resultType="com.woniu.pojo.User">
		select * from user where userId=#{userId}
	</select>
</mapper>